%h1= @page_title = @layer.title

%p
  = @layer.places.count
  places
  &nbsp;&nbsp;&nbsp;
  Download as
  -#
    %a{ :href=> "/maps/#{@layer.slug}.csv" }<
      CSV
  %a{ :href=> "/maps/#{@layer.slug}.json" }<
    JSON
  %a{ :href=> "/maps/#{@layer.slug}.xml" }<
    XML
  %a{ :href=> "/maps/#{@layer.slug}.kml" }<
    KML for Google Earth
    
#map

- if @layer.places.count <= 100
    
  %table
    %tr
      %th.col_title Title
      %th.col_address Address
      %th.col_phone Phone
  
    - for place in @layer.places
      %tr
        %td= place.title
        %td= place.address(", ")
        %td= place.phone
- else

  %p No place list is shown for maps which have more than 100 places.