#panel.noprint
  %h1.logo
    Sutton Open Maps
  -#
    %form{ :id => 'postcode_form' }
      %input{ :type => 'text', :id => 'postcode', :name => 'postcode', :size => '8', :maxlength => '8', :value => 'SM1 1EA' }
      %input{ :type => 'submit', :value => 'Go' }
      
  -#
    #buttons
      %table
        - for layer in Layer.all :order => 'title'
          %tr{ :id => "button-#{layer.slug}", :onclick => "loadLayer('#{layer.slug}'); return false;" }
            %td
              = layer.title
            %td
              %img{ :src => "/icons/#{layer.icon}", :height => "30" }

  #buttons
    %ul{ :style => "list-style-type: none; list-style-position: outside; margin: 0; padding: 5px 0; width: 100%;"}
      - for layer in Layer.all :order => ['title']
        %li{ :id => "button-#{layer.slug}", :onclick => "loadLayer('#{layer.slug}'); return false;", :style => "background-image: url('#{'/icons/' + layer.icon}'); background-repeat: no-repeat; background-position: 80% 0%; height: 40px; width: 100%; line-height: 2.8em;"}
          = layer.title
          -#
            %td
              %img{ :src => "/icons/#{layer.icon}", :height => "30" }

          
  #credits
    %p
      %a{ :href => '/data'}
        Get the data

    %table.plain
      %tr
        %td Design
        %td
          %a{ :href => "http://about.adrianshort.co.uk/" }
            Adrian Short
      %tr
        %td Data
        %td
          %a{ :href => "http://www.sutton.gov.uk/index.aspx?articleid=10077" }
            Sutton Council
    
#map
