%h1= @page_title = @layer.title

%p
  = @layer.places.count
  places
  -#
    |
    Download as
    %a{ :href=> "/maps/#{@layer.id}.csv" }<
      CSV
    %a{ :href=> "/maps/#{@layer.id}.json" }<
      JSON
    %a{ :href=> "/maps/#{@layer.id}.xml" }<
      XML

#map
    
%table
  %tr
    %th.col_title Title
    %th.col_address Address
    %th.col_phone Phone

  - for place in @layer.places
    %tr
      %td= place.title
      %td= place.address(", ")
      %td= place.phone
